<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Img path:</strong>
  <%= @category.img_path %>
</p>

<p>
  <strong>Img alt:</strong>
  <%= @category.img_alt %>
</p>

<p>
  <strong>Status:</strong>
  <%= @category.status %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
